*{
  background-color: rgba(25,33,45,255);
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
  color : rgb(247, 245, 249)
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar{
  border: 2px solid rgb(247, 245, 249);
  width: 700px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 8px;

}
#searchInput {
  text-decoration: none;
  border: none;
}

button {
  padding: 5px;
  background-color: rgb(67, 77, 223);
  color: white;
  border-radius: 5px;
}