
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  background-color: rgba(25,33,45,255);
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
  color : rgb(247, 245, 249);
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar{
  border: 1px solid rgb(247, 245, 249);
  width: 700px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
#searchInput {
  text-decoration: none;
  border: none;
  width: 100%;
  outline: none;
  font-size: large;
}

.searchBar button {
  padding: 6px;
  background-color: rgb(67, 77, 223);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.searchBar button:hover {
  background-color: #1af587;
  transition: all 0.3s ease;
}
h1 {
  margin-bottom: 13px;
}